@charset "utf-8";
/*General*/

* {
	font-family: "bebas-neue";
}

body,
		html {
			margin: 0;
			padding: 0;
			height: 100%;
			background: #ffded1 !important;
		}

/*Header*/

.header{
	background-color: #FFDED1;
}

.loginButton{
	font-size: 17px;
	background-color: #c1272d !important;
	border-color: #c1272d !important;
	text-align: center;
	color: white !important;
	border-radius: 12px;	
}

.loginButton:hover {opacity: 0.7;}

/*Navigation bar*/

.serviceDrop{
	background-color: #c1272d;
	color: white !important;
	font-size: 15px !important;
}

.navbar {
	padding: 0px;
	margin: 0px;
	font-size: 15px;
}

/*Login page*/

.user_card {
		color: white;
		height: 400px;
		width: 350px;
		margin-top: auto;
		margin-bottom: auto;
		background: #c1272d;
		position: relative;
		display: flex;
		justify-content: center;
		flex-direction: column;
		padding: 10px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		border-radius: 5px;

	}
	.brand_logo_container {
		position: absolute;
		height: 170px;
		width: 170px;
		top: -75px;
		border-radius: 50%;
		background: #ffded1;
		padding: 10px;
		text-align: center;
	}
	.brand_logo {
		height: 150px;
		width: 150px;
		border-radius: 50%;
		border: 2px solid white;
		vertical-align: middle;
	}

	.form_container {
		margin-top: 100px;
	}
	.login_btn {
		width: 100%;
		background: grey !important;
		color: white !important;
	}
	.login_btn:focus {
		box-shadow: none !important;
		outline: 0px !important;
	}
	.login_container {
		padding: 0 2rem;
	}
	.input-group-text {
		background: grey !important;
		color: white !important;
		border: 0 !important;
		border-radius: 0.25rem 0 0 0.25rem !important;
	}
	.input_user,
	.input_pass:focus {
		box-shadow: none !important;
		outline: 0px !important;
	}
	.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
		background-color: grey !important;
	}
/*About Us page*/
 	
.paragraph{
	text-align: center;
	font-color: black;
	background-color:transparent;
	margin-top: 5px ;
}
.grid-container{
	padding: 3em;
	margine-bottom: 3em;
	border-radius: 2em;
	background-color: antiquewhite;
	background-color: #FFDED1;
	width: stretch;
	height: stretch;
		
}
.row{
	width: stretch;
}
.paragraph-1{
	text-align:center;
	font-color: black;
	background-color:transparent;
	margin-top: 5px ;
}

/*Mission page*/

.mission-container-fluid {
	align-content: center;
	text-align: center;
	width: 100%;
	padding: 0px;
	margin: 0px;
	
}

/*Community page*/

.buttoncommunity:hover {
	background-color: #A52126;
	
}
.buttoncommunity {
	background-color: #c1272d;
}

.image1 {
    height: 13rem;
    width: 16rem;
}

.image2 {
    height: 11rem;
    width: 12rem;
    margin-left: 36px;
    margin-top: 11px;
}

.image3 {
    height: 13rem;
    width: 13rem;
    margin-left: 33px;
    margin-top: 5px;
}

.image4 {
    height: 13rem;
    width: 11rem;
    margin-left: 49px;
}

.image5 {
    height: 13rem;
}

.image6 {
    height: 13rem;
}

.topic {
    margin-top: 30px;
    text-align: center;
}

/* Community page forum */

.backtopage{
	font-size: 17px;
	background-color: #c1272d;
	border-color: #c1272d;
	text-align: center;
	color: white !important;
		
}

.backtopage:hover {
	background-color: #A52126;
}

.page-header {
	background-color: #c1272d;
}

.forumline {
    margin-left: -70px;    
}


.forum {
    margin-left: 80px;
    margin-top: 39px;
    margin-bottom: 15px;
}
.comment-list .row {
  margin-bottom: 0px;
}
.comment-list .panel .panel-heading {
  padding: 4px 15px;
  position: absolute;
  border:none;

  border-top-right-radius:0px;
  top: 1px;
}
.comment-list .panel .panel-heading.right {
  border-top-left-radius:0px;
  right: 16px;
}
.comment-list .panel .panel-heading .panel-body {
  padding-top: 6px;
}
.comment-list figcaption {

  word-wrap: break-word;
}

@media (min-width: 768px) {
  .comment-list .arrow:after, .comment-list .arrow:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
  }
  .comment-list .panel.arrow.left:after, .comment-list .panel.arrow.left:before {
    border-left: 0;
  }
  .comment-list .panel.arrow.left:before {
    left: 0px;
    top: 30px;
    
    border-right-color: inherit;
    border-width: 16px;
  }
 
  .comment-list .panel.arrow.left:after {
    left: 1px;
    top: 31px;
  
    border-right-color: #FFFFFF;
    border-width: 15px;
  }

  .comment-list .panel.arrow.right:before {
    right: -16px;
    top: 30px;
    border-left-color:black;
    border-width: 16px;
  }

  .comment-list .panel.arrow.right:after {
    right: -14px;
    top: 31px;
	border-left-color: white;
    border-width: 15px;
  }
}
.comment-list .comment-post {
    margin-top: 10px;
}





/*Services page*/

/*Quotes page*/


/*Message Service page*/




/*Chatbox page and pop up*/


/*Quotes page*/

.sidebarContent {
    margin-bottom: 10px;
    min-height: 150px;
    text-align: center;
    margin-left: 64px;
    padding-left: 1px;
}

.mainContent {
    margin-bottom: 10px;
    min-height: 310px;
    text-align: center;
    margin-left: 22px;
}

/*Testimonials page*/
.card-columns {
	column-count: 3;
}

.card-img-top {
    height: 16rem;
    width: 11rem;
    margin-left: 73px;
    border-radius: 36px 34px 35px 37px;
    margin-top: 15px;
}
  
.middle {
	background-color: #C1272D;
	color: white;
}

.right {
	background-color: #C1272D;
	color: white;
}
.card-img {
    margin-right: 104px;
    border-radius: 50px;
    margin-bottom: 3px;
    height: 14rem;
    width: 11rem;
}

.card-columns {
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}




/*Justification page*/


/*Contact page*/
.socialmedia {
    font-size: 15px !important;
    align-content: center;
    height: 3rem;
	padding: 2px;
	margin: 3px;
	margin-right: 0px;
}

.border-light {
    margin-right: 14px;
    margin-left: 14px;
    margin-bottom: 12px;
    margin-top: 12px;
}

.socialmediatext {
    background-color: #c1272d;
    margin-top: 161px;
    margin-right: 54px;
    padding-bottom: 119px;
    margin-left: 54px;
    border-radius: 93px 93px 92px;
}

.textsocial {
    padding-top: 27px;
    padding-left: 58px;
    font-size: 25pt;
    font-weight: bold;
}

.instagramcontactus {
    height: 8rem;    
	padding: 3px;
}

.facebookcontactus {
    height: 8rem; 
	padding: 3px;
}

.socialmedia {
    margin-left: 55px;
    padding-left: 8px;
}

 /*Footer*/
.sticky-bottom {
    background-color: #c1272d;
    padding: 8px;
	margin: 0px;
}

.fa  {
    font-size: 15px !important;
    align-content: center;
    height: 3rem;
	padding: 2px;
	margin: 3px;
	margin-right: 0px;
}

.list-unstyled {
	color: white;
	font-size: 13px;
	padding: 10px;
    
}
