@charset "utf-8";
/*General*/

* {
	font-family: "bebas-neue";
}

body,
		html {
			margin: 0;
			padding: 0;
			height: 100%;
			background: #ffded1 !important;
		}

/*Header*/

.header{
	background-color: #FFDED1;
}

.loginButton{
	font-size: 17px;
	background-color: #c1272d !important;
	border-color: #c1272d !important;
	text-align: center;
	color: white !important;
	border-radius: 12px;	
}

.loginButton:hover {opacity: 0.7;}

/*Navigation bar*/

.serviceDrop{
	background-color: #c1272d;
	color: white !important;
	font-size: 15px !important;
}

.navbar {
	padding: 0px;
	margin: 0px;
	font-size: 15px;
}

/*Login page*/

.user_card {
		color: white;
		height: 400px;
		width: 350px;
		margin-top: auto;
		margin-bottom: auto;
		background: #c1272d;
		position: relative;
		display: flex;
		justify-content: center;
		flex-direction: column;
		padding: 10px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		border-radius: 5px;

	}
	.brand_logo_container {
		position: absolute;
		height: 170px;
		width: 170px;
		top: -75px;
		border-radius: 50%;
		background: #ffded1;
		padding: 10px;
		text-align: center;
	}
	.brand_logo {
		height: 150px;
		width: 150px;
		border-radius: 50%;
		border: 2px solid white;
		vertical-align: middle;
	}

	.form_container {
		margin-top: 100px;
	}
	.login_btn {
		width: 100%;
		background: grey !important;
		color: white !important;
	}
	.login_btn:focus {
		box-shadow: none !important;
		outline: 0px !important;
	}
	.login_container {
		padding: 0 2rem;
	}
	.input-group-text {
		background: grey !important;
		color: white !important;
		border: 0 !important;
		border-radius: 0.25rem 0 0 0.25rem !important;
	}
	.input_user,
	.input_pass:focus {
		box-shadow: none !important;
		outline: 0px !important;
	}
	.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
		background-color: grey !important;
	}
/*About Us page*/
 	
.paragraph{
	text-align: center;
	font-color: black;
	background-color:transparent;
	margin-top: 5px ;
}
.grid-container-fluid{
	padding: 3em;
	margine-bottom: 3em;
	border-radius: 2em;
	background-color: antiquewhite;
	background-color: #FFDED1;
	width: stretch;
	height: stretch;
		
}
.row{
	width: stretch;
}
.paragraph-1{
	text-align:center;
	font-color: black;
	background-color:transparent;
	margin-top: 5px ;
}

/*Mission page*/

.mission-container-fluid {
	align-content: center;
	text-align: center;
	width: 100%;
	padding: 0px;
	margin: 0px;
	
}

/*Community page*/
/*Services page*/

/*Quotes page*/

/*Message Service page*/


/*Forum page*/


/*Chatbox page and pop up*/


/*Quotes page*/


/*Testimonials page*/


/*Justification page*/


/*Contact page*/


/*Footer*/
.sticky-bottom {
    background-color: #c1272d;
    padding: 8px;
	margin: 0px;
}



.fa  {
    font-size: 15px !important;
    align-content: center;
    height: 3rem;
	padding: 2px;
	margin: 3px;
	margin-right: 0px;
}


.list-unstyled {
	color: white;
	font-size: 13px;
	padding: 10px;
    
}
.container-chat{
	margin: auto; 
	max-width: 500px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	letter-spacing: 0.5px;
	margin-left: 30%;
	max-height: 300px;
}
img{
	max-width: 100%;
	border-radius: 10%;
	
}
.msg-header{
	width: 100%;
	height: 10%;
	border-bottom: none;
	display: inline-block;
	background-color: antiquewhite;
	
}
.msg-header-img{
	border-radius: 50%;
	width: 40px;
	margin-left: 5%;
	margin-top: 10px;
	float: left;
}
.active{
	width: 120px;
	float: left;
	margin-top: 20px;
}
.active h5 {
	font-size: 20px;
	margin-left: 20px;
	color: black;
}
.active h6
{
	font-size: 10px;
	margin-left: 10px;
	line-height: 2px;
	color: black;
}
.chat-page{
	padding: 0 0 50px 0;
}
.msg-inbox{
	overflow: hidden;
	padding-bottom: 30px;
}
.chats{
	padding: 30px 15px 0 25px;
}
.msg-page{
	height: 516px;
	overflow-y: auto;
}
.received-chats-img
{
	display: inline-block;
	width: 30px;
	float: left;
}
.received-msg{
	display: inline-block;
	padding: 0 0 0 10px;
	vertical-align: top;
	width: 92%;
}
.received-msg-inbox{
	width: 57%;
}
.received-msg-inbox p{
	background: #efefef none repeat scroll 0 0;
	border-radius: 10px;
	color: #646464;
	font-size: 14px;
	margin: 0;
	padding: 5px 10px 5px 12px;
	width: 100%;
}
.time{
	color: #777;
	display: block;
	font-size: 12px;
	margin: 8px 0 0;
}
.outgoing-chats{
	overflow: hidden;
	margin: 26px 20px;
}
.outgoing-chat-msg p
{
	background: #efefef none repeat scroll 0 0;
	color: #fff;
	border-radius: 10px;
	font-size: 14px;
	margin: 0;
	color: black;
	padding: 5px 10px 5px 12px;
	width: 100%
}
.outgoing-chats-msg
{
	float: left;
	width: 46%;
	margin-left: 45%;
}
.outgoing-chats-img
{
	display: inline-block;
	width: 30px;
	float: right;
}
.input-group
{
	float: right;
	margin-top: 13px;
	margin-right: 20px;
	outline: none;
	border-radius: 20px;
	width: 61%;
	background-color: antiquewhite;
}
.form-control
{
	border:none;
	border-radius: none;
}
.input-group-text
{
	background: transparent;
	border: none;
}
.ChatButton{
	font-size: 17px;
	background-color: #c1272d !important;
	border-color: #c1272d !important;
	text-align: center;
	color: white !important;
	border-radius: 12px;	
}